* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

strong {
  color: white;
}

.center {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

html {
  font-size: 60%;
}

body {
  background-image: url('../images/nasa_background.png');
  background-size: cover;
  overflow-x: hidden;
  padding-left: 35rem;
}

.navbar {
  margin-top: -1rem;
  width: 100%;
}

.navbar ul {
  list-style: none;
  padding: 1rem 3rem;
}

.navbar ul li a {
  padding: 1rem;
  margin: 1rem;
  background: #094b7e;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  display: block;
  width: 25rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 35rem;
  background: white;
  flex-flow: column;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile {
  margin-top: 3rem;
}

.fullName {
  font-size: 3rem;
  color: #094b7e;
  margin-top: 0px;
}

.university {
  font-size: 2rem;
  color: #094b7e;
}

.footer {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  font-size: 1.5rem;
  background: rgb(105, 119, 155);
  color: white;
  font-weight: 1500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.heading {
  text-align: center;
  margin: 0 6rem;
  font-size: 4rem;
  padding: 1rem;
  color: white;
}

section {
  min-height: 100vh;
  padding: 1rem;
}

#menu {
  position: fixed;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
  font-size: 2.5rem;
  padding: 1rem 1.5rem;
  z-index: 1000;
  display: none;
}

.about {
  display: flex;
  justify-content: center;
  flex-flow: column;
  margin-top: -10rem;
  padding: 0 15 rem;
}

.about h1 {
  font-size: 5rem;
  color: #ffffff;
  margin-top: 10rem;
}

.about p {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  padding: 1rem 3rem;
  text-transform: none;
}

.about a {
  display: flex;
  justify-content: center;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
  margin: 0px auto;
  padding: 50px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}

.sub-content {
  width: 100%;
  float: left;
  padding: 10px;
  margin: 10px;
}

.experience h1 {
  font-size: 5rem;
  color: #ffffff;
  margin-top: 10rem;
}

.experience p {
  font-size: 2rem;
  color: #ffffff;
  padding: 1rem 3rem;
  text-transform: none;
}

.education h1 {
  font-size: 5rem;
  color: #ffffff;
  margin-top: 10rem;
}

.education p {
  font-size: 1.5rem;
  color: #ffffff;
  padding: 1rem 3rem;
  text-transform: none;
}

.skill h1 {
  font-size: 5rem;
  color: #ffffff;
  margin-top: 10rem;
}

.skill p {
  font-size: 1.5rem;
  color: #ffffff;
  padding: 1rem 3rem;
  text-transform: none;
}

.underline {
  text-decoration: underline;
}

.content-li {
  padding-left: 15px;
  color: #ffffff;
}

/* .contact h1 {
  font-size: 5rem;
  color: #ffffff;
  margin-top: 5rem;
}

.contact .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.contact .row .content {
  flex: 1 1 30rem;
  padding: 4rem;
  padding-bottom: 0;
}

.contact .row .form {
  flex: 1 1 100rem;
  padding: 2rem;
  margin: 2rem;
  padding-bottom: 0;
}

.contact .row form .box {
  margin: 1rem 0;
  background-color: white;
  color: black;
  text-transform: none;
  font-size: 1.7rem;
  margin-left: 32rem;
  border-radius: 5px;
  width: 60rem;
  padding: 1rem 3rem;
}

.contact .row form .message {
  height: 8rem;
  resize: none;
}

.contact .row .content .info h2 {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  color: rgb(13, 25, 55);
  padding: 0rem 0;
  font-weight: normal;
  text-transform: none;
  margin-left: 28rem;
}

.contact .row .content .info h3 {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  padding: 1rem 0;
  font-weight: normal;
  text-transform: none;
  margin-left: 28rem;
}

.contact .row .btn {
  display: inline-block;
  margin: 0;
  margin-left: 52rem;
} */

.btn {
  padding: 0.7rem 3rem;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin-top: 24rem;
  font-size: 2rem;
  width: 20rem;
  height: 5rem;
  background-color: #094b7e;
  border-radius: 5px;
}

/* Button 3 */
.btn-3 {
  background: #fcad26;
  color: #fff;
}

.btn-3:hover {
  background: #f29e0d;
}

.btn-3:active {
  background: #f58500;
  top: 2px;
}

.btn-3:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
}

/* Button 3e */
.btn-3e {
  padding: 25px 120px 25px 60px;
  overflow: hidden;
}

.btn-3e:before {
  left: auto;
  right: 10px;
  z-index: 2;
}

.btn-3e:after {
  width: 30%;
  height: 200%;
  background: #f29e0d;
  z-index: 1;
  right: 0;
  top: 0;
  margin: -5px 0 0 -5px;
  -webkit-transform-origin: 0 0;
  -webkit-transform: rotate(-20deg);
  -moz-transform-origin: 0 0;
  -moz-transform: rotate(-20deg);
  -ms-transform-origin: 0 0;
  -ms-transform: rotate(-20deg);
  transform-origin: 0 0;
  transform: rotate(-20deg);
}

.btn-3e:hover:after {
  width: 40%;
}

.btnc {
  border: none;
  font-family: inherit;
  font-size: 1rem;
  color: #fff;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btnc:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

a {
  text-decoration: none;
  outline: none;
}

a img {
  border: none;
}

.caption {
  display: inline-block;
  position: relative;
  margin: 10px;
}

.caption img {
  display: block;
  max-width: 100%;
}

.caption::before,
.caption::after {
  opacity: 0;
  position: absolute;
  width: 30%;
  color: #fff;
  padding: 20px;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.caption::before {
  content: attr(data-title);
  top: 0;
  height: 30%;
  background: #a21f00;
  font-size: 40px;
  font-weight: 300;
}

.caption::after {
  content: '\201C'attr(data-description) '\201D';
  top: 30%;
  height: 70%;
  background: #db2e00;
  font-size: 16px;
  text-align: right;
}

.caption:hover::before,
.caption:hover::after {
  opacity: 1;
}

/* .logo {
  margin-top: -1rem;
  width: 100%;
} */

.logo ul {
  display: flex;
  list-style: none;
}

.logo ul li {
  position: relative;
  display: block;
  color: #666;
  font-size: 30px;
  height: 60px;
  width: 60px;
  background: #171515;
  line-height: 60px;
  border-radius: 50%;
  margin: 0 15px;
  cursor: pointer;
  transition: 0.5s;
}

.logo ul li:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  /* background: #d35400; */
  border-radius: 50%;
  transform: scale(0.9);
  z-index: -1;
  transition: 0.2s;
}

.logo ul li:hover:before {
  filter: blur(3px);
  transform: scale(0.5);
  /* box-shadow: 0 0 15px #d35400; */
}

.logo ul li:hover {
  color: #ff33cc;
  box-shadow: 0 0 15px #ff33cc;
  text-shadow: 0 0 15px #ff33cc;
}

.logo ul li a {
  color: #ffffff;
}

.contact-form-wrapper {
  padding: 100px 0;
}

.contact-form {
  padding: 30px 40px;
  background-color: #ffffff;
  border-radius: 12px;
  max-width: 600px;
}

.contact-form textarea {
  resize: none;
}

.contact-form .form-input,
.form-text-area {
  background-color: #f0f4f5;
  height: 50px;
  padding-left: 16px;
}

.contact-form .form-text-area {
  background-color: #f0f4f5;
  height: auto;
  padding-left: 16px;
}

.contact-form .form-control::placeholder {
  color: #aeb4b9;
  font-weight: 500;
  opacity: 1;
}

.contact-form .form-control:-ms-input-placeholder {
  color: #aeb4b9;
  font-weight: 500;
}

.contact-form .form-control::-ms-input-placeholder {
  color: #aeb4b9;
  font-weight: 500;
}

.contact-form .form-control:focus {
  border-color: #194997;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07), 0 0 8px #130576;
}

.contact-form .title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.contact-form .description {
  color: #aeb4b9;
  font-size: 14px;
  text-align: center;
}

.contact-form .submit-button-wrapper {
  text-align: center;
}

.contact-form .submit-button-wrapper input {
  border: none;
  border-radius: 4px;
  background-color: #cc660c;
  color: white;
  text-transform: uppercase;
  padding: 10px 60px;
  font-weight: 500;
  letter-spacing: 2px;
}

.contact-form .submit-button-wrapper input:hover {
  background-color: #0b34eb;
}
